*{
    box-sizing:border-box;
    margin: 0;
    padding: 0;
}

body{
    background-color: white;
    nav{
        background-color: #120323;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 30px;
        h1{
            color: #97bf04;
            padding: 30px;
            
    }
}

    main{
        display:flex;
        justify-content:center;
        align-items:center;
        margin: 20px;

        .image_container {
            max-width: 900px;
            max-height: 600px;

            img {
                border-radius: 10px;
                box-shadow: 0 0 15px 5px rgba(0, 0, 0, 1);
                
            }
        }
        

        .buttons{
            display:flex;
            justify-content:center;
            align-items:center;
            padding: 10px;

            button{
                background: #d9043d;
                margin-top: 10px;
                margin-right: 20px;
                padding: 10px;
                font-size: 16px;
                border-radius: 10px;

                
            }

        }

    }


}
